### 4.6 Combining & Exporting Data: Task Steps 3 - Steps 9 
##### by Claudia Lan Yee Chiu

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

#### Importing Dataframes

In [2]:
#Assign path
path = r'C:\Users\clany\OneDrive\Documents\CareerFoundry\Chap_4_Pythons Fundamentals for Data Analysts\Instacart Basket Analysis'

In [4]:
#Importing products_checked.csv dataframe
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

#### Step 3: In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved

In [5]:
#Importing new pickle file
df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### Step 4: Check the shape of the imported dataframe (it should be the same as the one you exported—always check!)
##### (Checked df_merged_large in ´4.6 Combining and exporting data_CLYC´)

In [6]:
#Check Shape of ords_prods_combined
df_ords_prods_combined.shape

(32434489, 12)

#### Step 5: Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [7]:
# Check columns of df_ords_prods_combined
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
# Check columns of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

#### A suitable way to merge df_ords_prods_combined and df_prods, is by using the key column ´product_id´, found in both dataframes
#### Note: Tried to merge but received following error: ValueError: Cannot use name of an existing column for indicator column
#### I Will remove the ´_merge´ column from the ´df_ords_prod_combined` first

In [10]:
# Dropping the ´ _merge´ column (as explained above)
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [11]:
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,prior,1,2,8,NaN,196,1,0
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0

In [12]:
# Merging df_ords_prods_combined with df_prods using the `product_id`as key value
df_merged = df_ords_prods_combined.merge(df_prods, on = ['product_id'], indicator = True)

In [13]:
df_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [14]:
# Dropping the ´ Unnamed´ columns (as explained above)
df_merged = df_merged.drop(columns = ['Unnamed: 0_x','Unnamed: 0_y'])

In [15]:
df_merged.head()

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

#### Step 6: Confirm the results of the merge using the merge flag

In [16]:
# Checking for a full match or not using the value_counts() function
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
# Checking the df_merged shape
df_merged.shape

(32404859, 15)

#### Step 7: Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)

In [20]:
#Export df_merged as pickle file due to its size
df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))