# Exercise 4.6: Combining & Exporting Data
#### by Claudia Lan Yee Chiu

### Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

### Importing Dataframes

In [2]:
#Assign path
path = r'C:\Users\clany\OneDrive\Documents\CareerFoundry\Chap_4_Pythons Fundamentals for Data Analysts\Instacart Basket Analysis'

In [4]:
# Importing orders (checked) dataframe
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
# Importing products (checked) dataframe
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [8]:
# Importing order_products_prior as df_ords_prior dataframe
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

#### Check the dimensions of newly imported df_ords_prior

In [9]:
# Check the dimensions of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [10]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
# Check df_ords
df_ords.shape

(3421083, 8)

In [12]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

#### Merge the newly imported df with df_ords

In [13]:
#Merge the two dataframes with 'order_id' as the key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
# Check the final output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [15]:
# Frequency check of newly merged df
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## Task 4.6

#### Step 1: If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now
#### Done see above

#### Step 2: Export the merged file in pickle format as “orders_products_combined.pkl”.

In [17]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### Step 3: In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved
#### See new Notebook: ´4.6 Combined Pickle file task_CLYC´

#### Step 4: Check the shape of the imported dataframe (it should be the same as the one you exported—always check!)

In [19]:
#Shape of df_merged_large dataframe - checking the exported shape to compare to above imported df
df_merged_large.shape

(32434489, 12)